@using DA.Dinners.Model
@*
javascript:
*@
<script src="@Url.Content("~/Scripts/PropositionsScripts/propositions.update.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/PropositionsScripts/product_changing.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/PropositionsScripts/displaying_panels.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/PropositionsScripts/apply_ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/PropositionsScripts/variables.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/PropositionsScripts/validation.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/PropositionsScripts/products_sort.js")" type="text/javascript"></script>
<link href= "@Url.Content("~/Scripts/jquery-ui-1.8.22.custom.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/niceforms.js")" type="text/javascript"></script>
<link href= "@Url.Content("~/Scripts/niceforms-default.css")" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
    function PageScript() {

        hide_panels();

        apply_ui();

        UpdateDatesListAndDisplayingProposition();

        $('#date_select').change(function () {
            var id = $('#date_select').val();
            UpdateContinuousProposition(id);
        });

    }
</script>
@*
//css:
*@
<div id="select_proposition_div">
    <h2 id="controlpanel">
        Предложения :
        <select id="date_select" style="margin-bottom: 30px">
        </select>
        <a href="#" onclick="add_continuous_proposition();" title="Добавить предложение">
            <img src="@Url.Content("~/Scripts/images/add.png")" style="width:30px;"/></a>
    </h2>
</div>
<div id="create_proposition_dialog" title="Select dates range">
    <dl>
        <dt>Начальная дата:</dt>
        <dd style="width: auto;">
            <input id="create_proposition_start_date" type="text" />
        </dd>
    </dl>
    <dl>
        <dt>Конечная дата:</dt>
        <dd style="width: auto;">
            <input id="create_proposition_end_date" type="text" />
        </dd>
    </dl>
    <p>
        <div>
            <label id="create_proposition_validation" style="color: Red; display: none;">
                Начальная дата должна быть меньше конечной</label>
        </div>
    </p>
</div>
<div id="unsaved_data_alert" title="Замечание" style="display: none;">
    У вас есть несохраненные данные!
</div>
<br />
<table width="100%">
    <tr>
        <td>
            <div id="edit_product">
                <fieldset class="niceform">
                    <legend>Редактировать продукт</legend>
                    <dl>
                        <dt>
                            <label>
                                Название:
                            </label>
                        </dt>
                        <dd>
                            <input type="text" name="Title" id="edit_product_title" class="edit_create_product_input" />
                        </dd>
                        <dd>
                            <label id="edit_product_validation_title" style="color: Red; display: none;">
                            </label>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                Описание:
                            </label>
                        </dt>
                        <dd>
                            <textarea rows="10" cols="45" type="text" name="Summary" id="edit_product_summary"
                                class="edit_create_product_input"></textarea>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                Цена:
                            </label>
                        </dt>
                        <dd>
                            <input type="text" name="Price" id="edit_product_price" class="edit_create_product_input" />
                            <label id="edit_product_validation_price" style="color: Red; display: none;">
                                Введите правильную цену</label>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                Комплекс:
                            </label>
                        </dt>
                        <dd>
                            <input type="checkbox" id="edit_product_is_complex" />
                        </dd>
                    </dl>
                    <div>
                        <input type="text" name="Id" style="display: none" id="edit_product_id" />
                    </div>
                    <div>
                        <input type="text" name="Id" style="display: none" id="edit_product_proposition_id" />
                    </div>
                    <div>
                        <input type="button" value="Сохранить" id="edit_product_save" onclick="edit_submit();"
                            class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                            role="button" />
                        <input type="button" value="Отмена" id="edit_product_cancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                            role="button" onclick="product_cancel();" />
                    </div>
                </fieldset>
            </div>
            <div id="create_product">
                <fieldset>
                    <legend>Создать продукт</legend>
                    <dl>
                        <dt>
                            <label>
                                Название:
                            </label>
                        </dt>
                        <dd>
                            <input type="text" name="Title" id="create_product_title" class="edit_create_product_input" />
                            <label id="create_product_validation_title" style="color: Red; display: none;">
                                Введите название</label>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                Описание:
                            </label>
                        </dt>
                        <dd>
                            <textarea rows="10" cols="45" type="text" name="Summary" id="create_product_summary"
                                class="edit_create_product_input"></textarea></dd></dl>
                    <dl>
                        <dt>
                            <label>
                                Цена:
                            </label>
                        </dt>
                        <dd>
                            <input type="text" name="Price" id="create_product_price" class="edit_create_product_input" />
                            <label id="create_product_validation_price" style="color: Red; display: none;">
                                Введите правильную цену</label>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label>
                                Комплекс:
                            </label>
                        </dt>
                        <dd>
                            <input type="checkbox" id="create_product_is_complex" />
                        </dd>
                    </dl>
                    <div>
                        <input type="text" name="Id" style="display: none" id="create_product_id" />
                    </div>
                    <div>
                        <input type="text" name="Id" style="display: none" id="create_product_proposition_id" />
                        <div style="vertical-align: middle;">
                            <input type="button" value="Сохранить" id="create_product_save" onclick="create_submit();"
                                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                role="button" />
                            <input type="button" value="Отменить" id="create_product_cancel" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                role="button" onclick="product_cancel();" />
                </fieldset>
            </div>
        </td>
        <td>
            <div id="continuous_proposition_parent">
            </div>
        </td>
    </tr>
</table>